body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f9f9;
    margin: 20px;
}

.history-header {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
}

.table-wrapper {
    overflow-x: auto;
    margin: 0 auto;
    width: 90%;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.styled-table thead tr {
    background-color: #7591d9;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

.styled-table td {
    position: relative;
}

.player-tag {
    display: inline-block;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
}

.result-tag {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
}

.result-tag.player-1-wins {
    background-color: #FF6347;
    color: white;
}

.result-tag.player-2-wins {
    background-color: #1E90FF;
    color: white;
}

.result-tag.draw {
    color: black;
}